version: '3.9'

services:
  postgres:
    image: postgres:16-alpine
    container_name: bitly-postgres
    environment:
      POSTGRES_USER: bitly
      POSTGRES_PASSWORD: bitly
      POSTGRES_DB: bitly
    ports:
      - "5432:5432"
    volumes:
      - postgres-data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    container_name: bitly-redis
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]
    volumes:
      - redis-data:/data

volumes:
  postgres-data:
  redis-data:
